body{
    margin: 0;
    display: flex;
    background: #111;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas{
    display: block;
    border: 2px solid white;
    box-shadow: 0 0 20px #00aaff;
}